<%= button_to "New Artist", new_artist_path, :method => :get %>
<ul>
<% @artists.each do |artist| %>
	<li>
		<h3>
		<%= artist.name %>
		</h3>
		<p>Number of albums: <%= artist.number_of_albums %></p>

	</li>

	<% end %>
</ul>

