
<%= button_to "New Artist", new_artist_path, :method => :get %>

<div class="row" id="show-button">Click to see artists!</div>
<div id="artists-div">
	<ul>
	<% @artists.each do |artist| %>
		<li>
			<h3 class="artist-name">
			<%= artist.name %>
			</h3>
			<p>Number of albums: <%= artist.number_of_albums %></p>
			<!-- <%= button_to "delete", @artist.id, :method => :delete %> -->

		</li>
			<% end %>

	</ul>

</div>
