/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import url(http://fonts.googleapis.com/css?family=Monoton);

.page-header {
	color: white;
	font-family: "Monoton";
	font-size: 3em;

}

.artist-button {
	margin-left: 10px;
}

.artist-name {
	color: #D62F2A;
	font-family: "Monoton";
}

#artist-list {
	margin-left: 10px;
}

.content {
	background-color: rgba(0, 170, 143, .5);
	border-radius: 10px;
	margin-bottom: 100px;
}

.bgwrapper {
	background: url('../images/background.png') no-repeat center center fixed; ;
	/*background-attachment: fixed;*/
	/*height: 100%;*/
}

/*html {
	background-color:;

}*/