<!DOCTYPE html>
<html>
<head>
  <title>Artists</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h2> Artists </h2>
	<hr>
	<br>

<%= yield %>
<br>
<br>
<hr>

</body>
</html>
